<!-- eslint-disable @angular-eslint/template/prefer-ngsrc -->
@if (item()) {
  <div class="carousel-item">
    <a [routerLink]="['/', item().canonicalUrl]">
      <div class="image-placeholder shimmer"></div>
      <img
        class="item-image"
        decoding="async"
        loading="lazy"
        [alt]="item().heading"
        [sizes]="sizes()"
        [src]="item().verticalPhotos[0].photoTypes['60'].url"
        [srcset]="
          item().verticalPhotos[0].photoTypes['60'].url +
          ' 180w, ' +
          item().verticalPhotos[0].photoTypes['80'].url +
          ' 400w'
        "
        (load)="item()"
      />
    </a>
  </div>
}
